/* Header Styles */
header {
    background-color: mediumpurple;
    padding: 10px;
    text-align: center;
}

/* Footer Styles */
footer {
    background-color: mediumpurple;
    padding: 10px;
    text-align: center;
}

/* Main Content Styles */
main {
    margin: 20px;
    text-align: center;
}

main h4 {
    color: #555;
}

main img {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
